# data handling
numpy
pandas>=1.1.5
stockstats
tushare
pyfolio
empyrical

# plot
matplotlib

# model building requirements
gym>=0.17
stable-baselines3[extra]

# testing requirements
pytest

# packaging
setuptools>=41.4.0
wheel>=0.33.6